html {
      background-color: #000000;
    }
    body {
      font-size: 2rem;
      display:flex;
      flex:1;
      min-height: 100vh;
      align-items: center;
    }
    .clock {
      background: url(https://img.clipartfest.com/0dec1a943a3001fc343d9a67ebfd8f49_digital-clock-clipart-google-blank-clock-clip-art_513-517.jpeg);
      background-size: cover;
      background-color: #ff0000;
      width: 30rem;
      height: 30rem;
      border:20px solid green;
      border-radius:50%;
      margin:50px auto;
      position: relative;
      padding:2rem;
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #ff0000,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
    }
    .clock-face {
      background-image: 'clock.jpg';
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }
    .hand {
      width:30%;
      height:6px;
      background:blue;
      position: fixed;
      margin-left: 40px;
      width: 200px;
      top:50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }